ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  li {
    list-style: none;
    margin: 0 8px;
    font-size: 20px;
    line-height: 120%;

    .arrow-control {
      display: flex;
      margin: 0 15px;
      margin-bottom: -3px;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    a.current-page {
      text-decoration: underline;
      pointer-events: none;
    }
  }
}

.page-number {
  text-align: center;

  a {
    min-width: 20px;
    display: inline-block;
  }
}

.arrow-control {

}
