<main class="article-page">
  <section class="banner">
    <div class="container" *ngIf="articleData">
      <h1>{{articleData.title}}</h1>
      <div class="article-meta">
        <a [routerLink]="['/profiles', articleData.author.username]">
          <img [src]="articleData.author.image">
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', articleData.author.username]">
            {{articleData.author.username}}
          </a>
          <span class="date">
            {{articleData.createdAt}}
          </span>
        </div>

        <span *ngIf="isAuthor$ | async">
          <a [routerLink]="['/manage-article', 'edit', articleData.slug]" class="btn btn-outline-secondary btn-sm">
            <i class="ion-edit"></i>
            Edit Article
          </a>

          <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle()">
            Delete Article
          </button>

        </span>
      </div>
    </div>
  </section>

  <section class="container page">
    <span *ngIf="isLoading$ | async">
      Loading...
    </span>

    <div class="row article-content" *ngIf="articleData">
      <div class="col-xs-12">
        <div [innerHTML]="articleData.body"></div>
        <app-tag-list [tagList]="articleData.tagList"></app-tag-list>
      </div>
    </div>
  </section>
</main>
