<nav class="navbar navbar-light">
  <section class="container">
    <a class="navbar-brand" [routerLink]="['/home']">
      medium
    </a>

    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">
          Home
        </a>
      </li>

      <ng-container *ngIf="isLoggedIn$ | async">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manage-article/create']">
            <i class="ion-compose"></i>
            &nbsp; New Post
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/settings']">
            <i class="ion-gear-a"></i>
            &nbsp; Settings
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profiles', (currentUser$ | async)?.username]">
            <img [src]="(currentUser$ | async)?.image" class="user-pic">
            &nbsp; {{(currentUser$ | async)?.username}}
          </a>
        </li>

      </ng-container>

      <ng-container *ngIf="(isLoggedIn$ | async) === false">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth/sign-in']">
            Sign In
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth/sign-up']">
            Sign Up
          </a>
        </li>

      </ng-container>

    </ul>
  </section>
</nav>
